html, body {
  margin: 0;
  padding: 0;
}
/*canvas {
  display: block;
}*/

div{
  position: absolute;
}

#poster {
  height: 100vh;
  width: 100vw;
  /*z-index: -10;*/
  background-color: aquamarine;
}

<<<<<<< HEAD
/* #buttonField{
  text-align: center;
  color: aliceblue;
=======
#buttonField{
>>>>>>> parent of dc82cd6 (버튼 디자인 수정)
  margin-left: 25vw;
  margin-right: 25vw;
  margin-top: 25vh;
  margin-bottom: 25vh;
  height:50vh;
  width: 50vw;
  z-index: 10;
<<<<<<< HEAD
  border: black;
  border-radius: 20px;
  background-color: black;
} */
=======
  background-color: brown;
}
>>>>>>> parent of dc82cd6 (버튼 디자인 수정)
